/**
 * Basic styling
 */
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
}

@-webkit-keyframes jump{
  from {background-color: white;}
  to {background-color: grey;}
}

/* Standard syntax */
@keyframes jump{
  0% {top: 0%; left: 50%; right: 50%; color: white}
  25% {top: 30%; left: 0%; right: 100%; color: grey}
  50% {top: 60%; left: 50%; right: 50%; color: white}
  100% {top: 0%; left: 50%; right: 50%; color: grey}
}
@-webkit-keyframes example {
  0% {background-color: red;}
  100% {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  0% {background-color: red;}
  100% {background-color: yellow;}
}

#jump-title {
    position: relative;
    height: 50px;
    width: 100px;
    padding: 8px;
    -webkit-animation-name: jump; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    color: #EEE;
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
